body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 5px;
    background-color:#ff0000;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* button:hover {
    background-color: #000000;
} */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
}

li:last-child {
    border-bottom: 0px;
}
